@import url('https://fonts.cdnfonts.com/css/varino');


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg_dark: #090909;
  --bg_light:rgb(244, 244, 244);

  --menuDark: #141414;

  --whiteColor: #e4e4e4;
  --blackColor: #171717;

  --Item: #1b1b1b;

  --Neon1: #00F5E7;
  --Neon2:#FF0099;

}

* {
  padding: 0;
  user-select: none;
  margin: 0;
  box-sizing: border-box;
}
